<div class="container-fluid">
    <div class="row">

        
        <form>
            <!--Author's Names-->
            <div class="form-group">
              <label for="formGroupExampleInput" class="label">Author's Name:</label>
              <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Original Author's Name">
            </div>

            <!--Quote Message-->
            <div class="form-group">
              <label for="formGroupExampleInput2" class="label">Enter Quote:</label>
              <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Enter Quote">
            </div>

            <!--Submitted By-->
            <div class="form-group">
                <label for="formGroupExampleInput2" class="label">Submitted By:</label>
                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Submitted By">
            </div>


            <button type="Submit" class="btn btn-success ">Submit Quote</button><br>
          </form>
    </div>
</div>