  
  .container-fluid{
    text-align: center;
    background-color: grey;
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
  }

  .jumbotron {
    align-content: center;
    text-align: center;
    background-image: url('~/assets/images/wallpaper.jpg');
    background-size: cover;
    
    margin-bottom: 0;
    font-size: 50px;
  }
  h1 {
    color: yellow;
    padding-top: -5px;
    /* padding-bottom: 10px; */
  }

  .quotetitle{
      margin-top: 5px;
      margin-bottom: 10px;
      
  }

  .card {
    margin-top: 9px;
  }
  #cards{
    padding-top: 30px;
    padding-bottom: 15px;
  }
