<div class="container-fluid">
    <div class="jumbotron">
        <h1>Quotes App</h1>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="row">
                    <h3 class="quotetitle">Type your Quote Here</h3>
                </div>
                <hr>
                <!--form component will go here-->
                <app-form (addQuote)='addNewQuote($event)'></app-form>

            </div>
            <div class="col-6" id="two">
                <div class="row">
                  <h3 class="quotetitle">View Previous Quotes</h3>
                </div>
                <hr>
                <!--form component will go here-->
                
                <!--Display quotes in the array-->
                <div class="card" *ngFor='let quote of quotes;let i = index' >
                    <!--Display the quote name-->
                    <div class="card-header">
                     <h6 *ngIf = "showDescription">{{quote.name}}</h6>
                    </div>
                    <button type="button" (click)="toggleQuote()" class="btn btn-primary">{{showDescription? "Hide": "Show"}} Quote Details</button>


                    <div class="card-body">
                      <blockquote class="blockquote mb-0">
                        <p id="{{i}}">{{quote.description}}</p>
                        <div class="row">
                            <div class="col-4">
                                <footer class="blockquote-footer" *ngIf=showDescription>Submitted By: <cite title="Source Title">{{quote.submitter}}</cite>
                                </footer>
                            </div>
                            <div class="col-2">

                            </div>
                        </div>
                        
                        
                      </blockquote>
                    </div>




                 </div>
        
            </div>
        






        </div>
    </div>




</div>